doctype html
html(lang="en")
    - var pageTitle="Ciklum Task | Home page"
    - var cssModulesOnPage = []
    - var jsModulesOnPage = []
    - var tabindex = 1;
    include ../blocks/head/head.jade
    body
        include ../blocks/pageHeader/pageHeader.jade
        include ../blocks/hero/hero.jade
        include ../blocks/subscribe/subscribe.jade

        include ../blocks/pageFooter/pageFooter.jade
        include ../blocks/scriptList/scriptList.jade
