doctype html
html(lang="en")
    - var pageTitle="Ciklum Task | Home page"
    - var cssModulesOnPage = []
    - var jsModulesOnPage = []
    include ../blocks/head/head.jade
    body
        include ../blocks/pageHeader/pageHeader.jade


        include ../blocks/pageFooter/pageFooter.jade
        include ../blocks/scriptList/scriptList.jade
