section.hero.hero--subline.hero--female
    div.hero__background-container.hero__background-container--female
    div.top-section
        div.top-section__container 
            h1.hero__header Collaborate faster and more securely
            h2.hero__sub-header Boost business productivity with the ultimate file saving and sharing tool that employees love and IT admins trust.
            div.try-business-cta
                a.try-business-cta__button.button-big.button-primary(href="businesstry" target="" tabindex="#{tabindex++}") Try free for 30 days
                span.try-business-cta__footer.no-break 
                    | or 
                    a(href="businessbuy" tabindex="#{tabindex++}") purchase now
