//- page header module
header.pageHeader
    .pageHeader__container
        .pageHeader__logoContainer
            .pageHeader__logoContainer
                a(href="#" tabindex="#{tabindex++}").pageHeader__logoLink
                    img(src="img/microsoft_logo.png" alt="Microsoft").pageHeader__logo
        .pageHeader__mainMenuContainer
            include pageHeader__mainMenu.jade
        .pageHeader__signInContainer
            a(href="#" tabindex="#{tabindex++}").pageHeader__headBtn.pageHeader__signIn Sign in
        button.pageHeader__mainMenuToggle.pageHeader__mainMenuToggle_mobile.pageHeader__headBtn
        .pageHeader__cartCountContainer
            a(href="#" tabindex="#{tabindex++}").pageHeader__headBtn.pageHeader__cartCount 0
        form(id="pageHeader__seacrhForm", method="#", action="#").pageHeader__seacrhForm
            input(type="search" maxlength="200" placeholder="Search Microsoft.com").pageHeader__seacrhInput
            button(type="submit").pageHeader__seacrhBtn
