ul.pageHeader__mainMenu
    li.pageHeader__mainMenuItem
        a(href="javascript:void(0)" tabindex="#{tabindex++}").pageHeader__headBtn.pageHeader__mainMenuLink Store
        .pageHeader__mainMenuSubmenuContainer
            ul.pageHeader__mainMenuSubmenu
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Store home
                
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Devices
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Microsoft Surface
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink PCs & tables
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Xbox
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Virtual reality
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Accessories
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows phone
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Microsoft Band
                            
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Software
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Office
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Additioinal software
                            
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Apps
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink All apps
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows apps
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows phone apps
                            
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Games
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Xbox One games
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Xbox 360 games
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink PC Games
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows games
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Windows phone games
                            
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Entertainment
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink All Entertainment
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Movies & TV
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Music
                    
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Business & Education
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Business Store
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Education Store
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Developer
                
                li.pageHeader__mainMenuSubmenuItem
                    a(href="javascript:void(0)").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Sale
                    ul.pageHeader__mainMenuSubSubmenu
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Back-to-school essentials
                        li.pageHeader__mainMenuSubSubmenuItem
                            a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubSubmenuLink Sale
                
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Find store 
                
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Gift cards
                    
    
    li.pageHeader__mainMenuItem
        a(href="javascript:void(0)" tabindex="#{tabindex++}").pageHeader__headBtn.pageHeader__mainMenuLink Products
        .pageHeader__mainMenuSubmenuContainer
            ul.pageHeader__mainMenuSubmenu
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Software & services
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink Devices & Xbox
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink For business
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink For developers & IT pros
                li.pageHeader__mainMenuSubmenuItem
                    a(href="#").pageHeader__headBtn.pageHeader__mainMenuSubmenuLink For student & educators
    

    li.pageHeader__mainMenuItem
        a(href="#" tabindex="#{tabindex++}").pageHeader__headBtn.pageHeader__mainMenuLink Support
