section.featured
    ul.featured__list
        li.featured__listItem
            a(href="#" tabindex="#{tabindex++}")
                .featured__itemBg(style="background-image: url('img/featured_1.jpg')")
                .featured__itemContent
                    h4.featured__itemSubtitle FEATURED CONTENT
                    h3.featured__itemTitle EVE: Valkyrie
        li.featured__listItem
            a(href="#" tabindex="#{tabindex++}")
                .featured__itemBg(style="background-image: url('img/featured_2.jpg');")
                .featured__itemContent
                    h4.featured__itemSubtitle INCLUDED WITH ALL RIFT PURCHASES
                    h3.featured__itemTitle Lucky's Tale
        li.featured__listItem
            a(href="#" tabindex="#{tabindex++}")
                .featured__itemBg(style="background-image: url('img/featured_3.jpg');")
                .featured__itemContent
                    h4.featured__itemSubtitle FEATURED STORY
                    h3.featured__itemTitle Over 30 Full Games Launching with Oculus Touch this Year
